x-logging: &x-logging
  logging:
    driver: 'json-file'
    options:
      max-file: '5'
      max-size: '10m'
services:
  traefik:
    image: traefik:2.11
    container_name: appwrite-traefik
    <<: *x-logging
    command:
      - --providers.docker=true
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entryPoint.to=websecure
      - --entrypoints.web.http.redirections.entryPoint.scheme=https
      - --entrypoints.web.http.redirections.entryPoint.permanent=true
      - --entrypoints.websecure.address=:443
      - --certificatesresolvers.resolver.acme.tlschallenge=true
      - --certificatesresolvers.resolver.acme.email=dsarifkulo021@gmail.com
      - --certificatesresolvers.resolver.acme.storage=/letsencrypt/acme.json
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/run/docker.sock:/var/run/docker.sock
      - ../volumes/letsencrypt:/letsencrypt
    depends_on:
      - appwrite
    networks:
      - appwrite
      - dropin

  appwrite:
    image: appwrite/appwrite:1.7.4
    container_name: appwrite
    <<: *x-logging
    restart: unless-stopped
    networks:
      - appwrite
      - dropin
    labels:
      - traefik.enable=true
      - traefik.http.services.appwrite_api.loadbalancer.server.port=80
      - traefik.http.routers.appwrite_api.rule=Host(`api.${HOST}`) && PathPrefix(`/`)
      - traefik.http.routers.appwrite_api.entrypoints=websecure
      - traefik.http.routers.appwrite_api.tls.certresolver=resolver
    volumes:
      - appwrite-uploads:/storage/uploads:rw
      - appwrite-imports:/storage/imports:rw
      - appwrite-cache:/storage/cache:rw
      - appwrite-config:/storage/config:rw
      - appwrite-certificates:/storage/certificates:rw
      - appwrite-functions:/storage/functions:rw
      - appwrite-sites:/storage/sites:rw
      - appwrite-builds:/storage/builds:rw
    depends_on:
      - mariadb
      - redis
    #      - clamav
    environment:
      - _APP_ENV
      - _APP_WORKER_PER_CORE
      - _APP_LOCALE
      - _APP_COMPRESSION_MIN_SIZE_BYTES
      - _APP_CONSOLE_WHITELIST_ROOT
      - _APP_CONSOLE_WHITELIST_EMAILS
      - _APP_CONSOLE_SESSION_ALERTS
      - _APP_CONSOLE_WHITELIST_IPS
      - _APP_CONSOLE_HOSTNAMES
      - _APP_SYSTEM_EMAIL_NAME
      - _APP_SYSTEM_EMAIL_ADDRESS
      - _APP_EMAIL_SECURITY
      - _APP_SYSTEM_RESPONSE_FORMAT
      - _APP_OPTIONS_ABUSE
      - _APP_OPTIONS_ROUTER_PROTECTION
      - _APP_OPTIONS_FORCE_HTTPS
      - _APP_OPTIONS_ROUTER_FORCE_HTTPS
      - _APP_OPENSSL_KEY_V1
      - _APP_DOMAIN
      - _APP_DOMAIN_TARGET_CNAME
      - _APP_DOMAIN_TARGET_AAAA
      - _APP_DOMAIN_TARGET_A
      - _APP_DOMAIN_FUNCTIONS
      - _APP_REDIS_HOST
      - _APP_REDIS_PORT
      - _APP_REDIS_USER
      - _APP_REDIS_PASS
      - _APP_DB_HOST
      - _APP_DB_PORT
      - _APP_DB_SCHEMA
      - _APP_DB_USER
      - _APP_DB_PASS
      - _APP_SMTP_HOST
      - _APP_SMTP_PORT
      - _APP_SMTP_SECURE
      - _APP_SMTP_USERNAME
      - _APP_SMTP_PASSWORD
      - _APP_USAGE_STATS
      - _APP_STORAGE_LIMIT
      - _APP_STORAGE_PREVIEW_LIMIT
      - _APP_STORAGE_ANTIVIRUS
      - _APP_STORAGE_ANTIVIRUS_HOST
      - _APP_STORAGE_ANTIVIRUS_PORT
      - _APP_STORAGE_DEVICE
      - _APP_STORAGE_S3_ACCESS_KEY
      - _APP_STORAGE_S3_SECRET
      - _APP_STORAGE_S3_REGION
      - _APP_STORAGE_S3_BUCKET
      - _APP_STORAGE_S3_ENDPOINT
      - _APP_STORAGE_DO_SPACES_ACCESS_KEY
      - _APP_STORAGE_DO_SPACES_SECRET
      - _APP_STORAGE_DO_SPACES_REGION
      - _APP_STORAGE_DO_SPACES_BUCKET
      - _APP_STORAGE_BACKBLAZE_ACCESS_KEY
      - _APP_STORAGE_BACKBLAZE_SECRET
      - _APP_STORAGE_BACKBLAZE_REGION
      - _APP_STORAGE_BACKBLAZE_BUCKET
      - _APP_STORAGE_LINODE_ACCESS_KEY
      - _APP_STORAGE_LINODE_SECRET
      - _APP_STORAGE_LINODE_REGION
      - _APP_STORAGE_LINODE_BUCKET
      - _APP_STORAGE_WASABI_ACCESS_KEY
      - _APP_STORAGE_WASABI_SECRET
      - _APP_STORAGE_WASABI_REGION
      - _APP_STORAGE_WASABI_BUCKET
      - _APP_COMPUTE_SIZE_LIMIT
      - _APP_FUNCTIONS_TIMEOUT
      - _APP_SITES_TIMEOUT
      - _APP_COMPUTE_BUILD_TIMEOUT
      - _APP_COMPUTE_CPUS
      - _APP_COMPUTE_MEMORY
      - _APP_FUNCTIONS_RUNTIMES
      - _APP_SITES_RUNTIMES
      - _APP_DOMAIN_SITES
      - _APP_EXECUTOR_SECRET
      - _APP_EXECUTOR_HOST
      - _APP_LOGGING_CONFIG
      - _APP_MAINTENANCE_INTERVAL
      - _APP_MAINTENANCE_DELAY
      - _APP_MAINTENANCE_START_TIME
      - _APP_MAINTENANCE_RETENTION_EXECUTION
      - _APP_MAINTENANCE_RETENTION_CACHE
      - _APP_MAINTENANCE_RETENTION_ABUSE
      - _APP_MAINTENANCE_RETENTION_AUDIT
      - _APP_MAINTENANCE_RETENTION_AUDIT_CONSOLE
      - _APP_MAINTENANCE_RETENTION_USAGE_HOURLY
      - _APP_MAINTENANCE_RETENTION_SCHEDULES
      - _APP_SMS_PROVIDER
      - _APP_SMS_FROM
      - _APP_GRAPHQL_MAX_BATCH_SIZE
      - _APP_GRAPHQL_MAX_COMPLEXITY
      - _APP_GRAPHQL_MAX_DEPTH
      - _APP_VCS_GITHUB_APP_NAME
      - _APP_VCS_GITHUB_PRIVATE_KEY
      - _APP_VCS_GITHUB_APP_ID
      - _APP_VCS_GITHUB_WEBHOOK_SECRET
      - _APP_VCS_GITHUB_CLIENT_SECRET
      - _APP_VCS_GITHUB_CLIENT_ID
      - _APP_MIGRATIONS_FIREBASE_CLIENT_ID
      - _APP_MIGRATIONS_FIREBASE_CLIENT_SECRET
      - _APP_ASSISTANT_OPENAI_API_KEY
  appwrite-console:
    <<: *x-logging
    container_name: appwrite-console
    image: appwrite/console:6.0.13
    restart: unless-stopped
    networks:
      - appwrite
      - dropin
    labels:
      - traefik.enable=true
      - traefik.http.services.appwrite-console.loadbalancer.server.port=80
      - traefik.http.routers.appwrite-console.rule=Host(`console.${HOST}`) && PathPrefix(`/`)
      - traefik.http.routers.appwrite-console.entrypoints=websecure
      - traefik.http.routers.appwrite-console.tls.certresolver=resolver

  appwrite-realtime:
    image: appwrite/appwrite:1.7.4
    entrypoint: realtime
    container_name: appwrite-realtime
    <<: *x-logging
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.services.appwrite-realtime.loadbalancer.server.port=80
      - traefik.http.routers.appwrite-realtime.rule=Host(`realtime.${HOST}`) && PathPrefix(`/`)
      - traefik.http.routers.appwrite-realtime.entrypoints=websecure
      - traefik.http.routers.appwrite-realtime.tls.certresolver=resolver
    networks:
      - appwrite
      - dropin
    depends_on:
      - mariadb
      - redis
    environment:
      - _APP_ENV
      - _APP_WORKER_PER_CORE
      - _APP_OPTIONS_ABUSE
      - _APP_OPTIONS_ROUTER_PROTECTION
      - _APP_OPENSSL_KEY_V1
      - _APP_REDIS_HOST
      - _APP_REDIS_PORT
      - _APP_REDIS_USER
      - _APP_REDIS_PASS
      - _APP_DB_HOST
      - _APP_DB_PORT
      - _APP_DB_SCHEMA
      - _APP_DB_USER
      - _APP_DB_PASS
      - _APP_USAGE_STATS
      - _APP_LOGGING_CONFIG

  mariadb:
    image: mariadb:10.11
    container_name: appwrite-mariadb
    <<: *x-logging
    restart: unless-stopped
    networks:
      - appwrite
      - dropin
    volumes:
      - appwrite-mariadb:/var/lib/mysql:rw
    environment:
      - MYSQL_ROOT_PASSWORD=${_APP_DB_ROOT_PASS}
      - MYSQL_DATABASE=${_APP_DB_SCHEMA}
      - MYSQL_USER=${_APP_DB_USER}
      - MYSQL_PASSWORD=${_APP_DB_PASS}
      - MARIADB_AUTO_UPGRADE=1
    command: 'mysqld --innodb-flush-method=fsync'

  redis:
    image: redis:7.2.4-alpine
    container_name: appwrite-redis
    <<: *x-logging
    restart: unless-stopped
    command: >
      redis-server
      --maxmemory            512mb
      --maxmemory-policy     allkeys-lru
      --maxmemory-samples    5
    networks:
      - appwrite
      - dropin
    volumes:
      - appwrite-redis:/data:rw

  app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        NODE_ENV: production
        NEXT_PUBLIC_APPWRITE_ENDPOINT: $NEXT_PUBLIC_APPWRITE_ENDPOINT
        NEXT_PUBLIC_APPWRITE_PROJECT_ID: $NEXT_PUBLIC_APPWRITE_PROJECT_ID
        NEXT_PUBLIC_APPWRITE_API_KEY: $NEXT_PUBLIC_APPWRITE_API_KEY
        NEXT_PUBLIC_APPWRITE_DATABASE_ID: $NEXT_PUBLIC_APPWRITE_DATABASE_ID
        NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID: $NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID
        NEXT_PUBLIC_APPWRITE_TOURS_COLLECTION_ID: $NEXT_PUBLIC_APPWRITE_TOURS_COLLECTION_ID
        NEXT_PUBLIC_APPWRITE_BUCKET_ID: $NEXT_PUBLIC_APPWRITE_BUCKET_ID
    container_name: app
    restart: unless-stopped
    networks:
      - dropin
    labels:
      - traefik.enable=true
      - traefik.http.routers.app.rule=Host(`${HOST}`) && PathPrefix(`/`)
      - traefik.http.services.app.loadbalancer.server.port=3000
      - traefik.http.routers.app.entrypoints=websecure
      - traefik.http.routers.app.tls.certresolver=resolver
    environment:
      NEXT_PUBLIC_APPWRITE_ENDPOINT: $NEXT_PUBLIC_APPWRITE_ENDPOINT
      NEXT_PUBLIC_APPWRITE_PROJECT_ID: $NEXT_PUBLIC_APPWRITE_PROJECT_ID
      NEXT_PUBLIC_APPWRITE_API_KEY: $NEXT_PUBLIC_APPWRITE_API_KEY
      NEXT_PUBLIC_APPWRITE_DATABASE_ID: $NEXT_PUBLIC_APPWRITE_DATABASE_ID
      NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID: $NEXT_PUBLIC_APPWRITE_USERS_COLLECTION_ID
      NEXT_PUBLIC_APPWRITE_TOURS_COLLECTION_ID: $NEXT_PUBLIC_APPWRITE_TOURS_COLLECTION_ID
      NEXT_PUBLIC_APPWRITE_BUCKET_ID: $NEXT_PUBLIC_APPWRITE_BUCKET_ID
    depends_on:
      - appwrite

networks:
  appwrite:
    name: appwrite
  dropin:
    driver: bridge

volumes:
  appwrite-mariadb:
  appwrite-redis:
  appwrite-cache:
  appwrite-uploads:
  appwrite-imports:
  appwrite-certificates:
  appwrite-functions:
  appwrite-sites:
  appwrite-builds:
  appwrite-config:
